<% current_user.groups.each do |group|%>
    <div class="posts">
        <% group.posts.each do |post| %>
          <div class="post">
              <div class="author">Posted by: <%= post.user.email%></div>
              <%= link_to post.title, group_post_path(group, post) %>
              <%= post.body %>
          </div>
        <% end %>
    </div>
<% end %>
