<% current_user.groups.each do |group|%>
  <%= link_to group.name, group_path(group)%>
  <br />
  <h3>Members:</h3>
  <ul>
    <% group.users.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
  </ul>
  <h3>Posts:</h3>
    <% group.posts.each do |post| %>
      <%= link_to post.title, group_post_path(group, post) %>
      <br />
      <p>Posted by: <%= post.user.email%></p>
    <% end %>
<% end %>
